<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ace.cms.mapper.ContentPictureMapper">

  <select id="getPicArr" resultType="com.ace.cms.dto.ContentPictureDto">
    SELECT
      content_id as contentId,
      priority as priority,
	  ifnull(img_path,'') as imgPath,
	  ifnull(description,'') as description
    FROM
        jc_content_picture
    WHERE
        content_id = #{contentId,jdbcType=BIGINT}
    ORDER by priority
    LIMIT 2
  </select>

  <select id="getNewsPicArr" resultType="com.ace.cms.dto.ContentPictureDto">
    SELECT
    content_id as contentId,
    priority as priority,
    ifnull(img_path,'') as imgPath,
    ifnull(description,'') as description
    FROM
    jc_content_picture
    WHERE
    content_id = #{contentId,jdbcType=BIGINT}
    ORDER by priority
  </select>

  <insert id="insert" parameterType="com.ace.cms.dto.ContentPictureDto">
    INSERT INTO jc_content_picture (
      content_id,
      priority,
      img_path
    )
    VALUES
    (
      #{contentId,jdbcType=BIGINT},
      #{priority,jdbcType=BIGINT},
      #{imgPath,jdbcType=VARCHAR}
    )
  </insert>
</mapper>